<div class="box">
  <div class="box-inner">
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">专注 专业 专心</a></p>
  </div>
</div>

<h4 class="text-center"> 这个网站还可以，<a href="https://fullstack.xinshengdaxue.com/works/649" target="_blank">投票支持我们吧！</a></h4>
